* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  background-color: #f0f0f0;
  color: #333;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  padding: 20px;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-section {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 10px;
  padding: 10px;
}

.form-section-errors {
  padding: 10px;
  background-color: #ffdddd;
  border: 1px solid #dd0000;
  border-radius: 5px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.form-section-errors ul {
  list-style-type: none;
  padding: 0;
}

.form-section-errors li {
  color: #dd0000;
  margin-bottom: 5px;
}

.filter-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.filter-section input,
select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.results-section {
  grid-column: 1 / 2;
}

.info-section {
  grid-column: 2 / 3;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fafafa;
}

.info-section h3 {
  text-align: center;
}

.form-section input,
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

td {
  background-color: #fff;
}

.form-section button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-section button:hover,
.results-section button:hover {
  background-color: #555;
}

.form-section label {
  display: block;
  margin-bottom: 10px;
}

.results-section button {
  width: 25%;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#informacion-adicional {
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  text-align: left;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

body::before {
  content: "";
  display: block;
  height: 200px;
  width: 100%;
  background: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
